<div>
  <%= link_to patient.full_name, patient_path(patient) %>
</div>
<div>
  <% if patient.appointment_date %>
    on <%= patient.appointment_date.strftime('%B %d, %Y at %I:%M%p') %>
  <% end %>
</div>